.recipe1 {
  font-family: 'Lucida Console', 'Courier New', monospace;
}

#cilantro-chicken {
  width: auto;
  height: 400px;
}

.centre {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

ol {
  display: inline-block;
  text-align: left;
}